.footer{
    width: 100%;
    height: 8rem;
      background-color: rgb(24, 42, 58);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: medium;
      font-weight: bold;
}
